@page
@model CreateAccountModel
@{
    ViewData["Title"] = "Create Account page";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to create your site's Accounts.</p>

<body>
    <main>
        <style>
            .round_table {
                border-collapse: separate;
                border-spacing: 10;
                border: 2px solid grey;
                border-radius: 15px;
                -moz-border-radius: 20px;
                padding: 2px;
                -webkit-border-radius: 10px;
            }
        </style>
        <table class="round_table" align="Center">
            <tr>
                <td colspan="2" style="text-align:center">
                    <h5>
                        <p>Select type of account will you gone to create.</p>
                    </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <a href="/CreateDoctorAccount"><img src="Images4Site/doctor.png" width="150" alt="Logo_Doctor" height="150"/>
                    <p @*style="text-align:center"*@>Doctor</p></a> 
                </td>
                <td style="text-align:center">
                    <a href="/CreatePatientAccount"><img src="Images4Site/paciente.png" width="150" alt="Logo_Paciente" height="150"/>
                    <p @*style="text-align:center"*@>Patient</p></a> 
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <h5>
                        <p><p>¡Wellcome!</p></p>
                    </h5>
                    <p><p>Next, you must have enter the data to create an account according to the selected profile.</p></p>

                </td>
            </tr>
            @*<tr>
                <td colspan="2" style="text-align:center">
                    <button>
                        <a href="/CreateDoctorAccount">Create Account</a>
                    </button>
                </td>
            </tr>*@
            <tr><td><p></p></td></tr>
        </table>
    </main>
</body>
