@page
@model SaludIntegral.App.Frontend.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}
<div class="text-center">
    <h2>Have questions?</h2>
    <br>
    <h3>Check our FAQ section<h3>
    <br>
    <div class="container-fluid text-left">
        <details>
        <summary class="padding-bottom-lg" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">How can I access to my admin panel?</summary>
        <p style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 300;">You can click on the button "Login/Signup".
            Then you enter your login information and access.
        </p>
    </details>
    <details>
        <summary class="padding-bottom-lg" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">How can I create a new account?</summary>
        <p style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 300;">You can click on the button "Login/Signup".
            Then click on text "Don't have an account?".
            Enter your information and that's all.
        </p>
    </details>
    <details>
        <summary class="padding-bottom-lg" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">Can I confirm my appointments from admin panel?</summary>
        <p style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 300;">
            Yes. You only have to navigate from sidebar and click on confirm appointment option.
            Then you can confirm or cancel the appointment if it's possible.
        </p>
    </details>
    <details>
        <summary class="padding-bottom-lg" style="font-family: 'Montserrat', sans-serif; font-weight: 300;">What are my entrance credentials?</summary>
        <p style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 300;">
            To login you have to know your email and the password you set when yo created the account.
        </p>
    </details>
    </div>
</div>
