@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="d-flex p-2">
    <div class="container">
        <img src="/Resource/login-bg-01.png" width="300px" height="300px" alt="Login BG" title="¡Bienvenido al sistema de gestión de Salud Integral!">
    </div>
    <div class="container align-middle text-center">
        <h2>Appointment management and scheduling system</h2>
        <br>
        <p>Make changes, modify your information and much more, <strong>all from home.</strong></p>
        <br>
        <p>Access the dashboard and manage your appointments as a doctor or patient.</p>
    </div>
</div>
