@page
@using SaludIntegral.App.Dominio
@model SaludIntegral.App.Frontend.Pages.Patients.editPatientModel
@{
    ViewData["Title"] = "Edit Patient Account page";
}
<div style="width: 92%; margin: 0 auto;">
    <br></br>
    <button>
        <a href="/Administrator/showPatients">Go Back</a>
    </button>
    <br></br>
    </div>
<style>
            .round_table {
                border-collapse: separate;
                border-spacing: 10;
                border: 0px solid grey;
                border-radius: 15px;
                -moz-border-radius: 20px;
                padding: 2px;
                -webkit-border-radius: 10px;
            }
</style>
<form method="post">

    
    <table class="round_table" align="Center">
             
            <tr>
                <td colspan="3" style="text-align:center">
                    <p>Fill out the form to UpDate the account in the system </p>
                </td>
            </tr>
            <div class="form-group">
            <!--<label asp-for="patient.Id".Id"></label>-->
            <!--<input asp-for="patient.Id" class="form-control" readonly>-->
            <!--<p><input asp-for="patient.Id" type="text" size="30" maxlength="30"  name="Id" readonly></p></p>-->
            </div>
            <tr>
                <td style="text-align:left">
                    <p><h6>Complete Name</h6>
                    <p><input asp-for="patient.Names" type="text" size="30" maxlength="30" placeholder="--Type Your Complete Name--" name="Names"></p></p>
                    <span asp-validation-for="patient.Names" class="text-danger"></span>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td style="text-align:left">
                    <p><h6>ID Number</h6>
                    <p><input asp-for="patient.Identification" type="text" size="30" maxlength="30" placeholder="--Type Your ID Number--" name="ID_Number" readonly></p></p>
                    <span asp-validation-for="patient.Identification" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <p><h6>Gender</h6>
                    <p><input asp-for="patient.Gender" type="text" size="30" maxlength="30" placeholder="--Select Your Gender--" name="Gender"></p></p>
                </td>
                <td>  
                </td>
                <td style="text-align:left">
                    <p><h6>Movíl Number</h6>
                    <p><input asp-for="patient.Phone_number" type="text" size="30" maxlength="30" placeholder="--Type Your Movíl Number--" name="Phone_number"></p></p>
                    <span asp-validation-for="patient.Phone_number" class="text-danger"></span>               
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <p><h6>Email</h6>
                    <p><input asp-for="patient.Email" type="text" size="30" maxlength="30" placeholder="--Type Your Email--" name="Email"></p></p>
                    <span asp-validation-for="patient.Email" class="text-danger"></span>
                </td>
                <td>  
                </td>
                <td style="text-align:left">
                    <p><h6>Date Of Birth</h6>
                    <p><input asp-for="patient.DateOfBirth" type="text" size="30" maxlength="30" placeholder="--Select Your Date of Birth--" name="DateOfBirth"></p></p>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <p><h6>EPS</h6>
                    <p><input asp-for="patient.EPS" type="text" size="30" maxlength="30" placeholder="--Type Your Medic Number Registration--" name="EPS"></p></p>
                </td>
                <td>  
                </td>
                <td style="text-align:left">
                    <p><h6>Password</h6>
                    <p><input asp-for="patient.Password" type="text" size="30" maxlength="30" placeholder="--Select Your Date of Birth--" name="Password"></p></p>
                    <span asp-validation-for="patient.Password" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <p><h6>Location</h6>
                    <p><select asp-for="patient.Location" asp-items="Html.GetEnumSelectList<Locations>()" class="form-control"  placeholder="--Select Your Location--" name="Location"></select></p>
                </td>
                
            </tr>
            <tr><td><p></p></td></tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <p>
                        <button type="submit" class="btn btn-primary">Editar Cuenta</button>
                    </p>
                </td>
            </tr>
            <tr><td><p></p></td></tr>
        </table>
</div>
    </form>
@* <div class="container-fluid d-block border shadow p-3 mb-5 bg-white rounded text-center" style="height: 561px; width: 1020px">

<h1>Editar mi cuenta  paciente</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="patient.Id".Id"></label>
        <input asp-for="patient.Id" class="form-control" readonly>
    </div>
        <div class="form-group">
        <label asp-for="patient.Identification"></label>
        <input asp-for="patient.Identification" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="patient.Names"></label>
        <input asp-for="patient.Names" class="form-control">
        <span asp-validation-for="patient.Names" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.DateOfBirth"></label>
        <input asp-for="patient.DateOfBirth" class="form-control">
        <span asp-validation-for="patient.DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Gender"></label>
        <input asp-for="patient.Gender" class="form-control">
        
    </div>
    <div class="form-group">
        <label asp-for="patient.Phone_number"></label>
        <input asp-for="patient.Phone_number" class="form-control">
        <span asp-validation-for="patient.Phone_number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Email"></label>
        <input asp-for="patient.Email" class="form-control">
        <span asp-validation-for="patient.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.EPS"></label>
        <input asp-for="patient.EPS" class="form-control">
        
    </div>
    <div class="form-group">
        <label asp-for="patient.Password"></label>
        <input asp-for="patient.Password" class="form-control">
        <span asp-validation-for="patient.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Location"></label>
        <!--<p><select asp-for="Paciente.Location" asp-items="Html.GetEnumSelectList<Locations>()" class="form-control"  placeholder="--Select Your Location--" name="Location"></select></p>-->
        <select asp-for="patient.Location" asp-items="Html.GetEnumSelectList<Locations>()" class="form-control"></select>
        <!--<span asp-validation-for="patient.Location" class="text-danger"></span>-->
    </div>
    <button type="submit" class="btn btn-primary">Editar mi cuenta paciente</button>
</form>
<a class="btn btn-secondary" asp-page="./Index1">Volver</a> *@
