@page
@model SaludIntegral.App.Frontend.Pages.IndexPModel
@{
}
<a class="btn btn-secondary" asp-page="/Patients/CreatePatientAccount">Crear paciente</a>
<a class="btn btn-secondary" asp-page="/Index">Volver</a>