@page
@model SaludIntegral.App.Frontend.Pages.InitialPanelPatientModel
@{
    Layout = "_LayoutPatientAccount";
}
<div class="container-fluid d-block border shadow p-3 mb-5 bg-white rounded text-center" style="height: 561px; width: 1020px">

<p text-aling="Center"><h1>Wellcome to your account</h1></p>
                       
</div>
