<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Panel Doctor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="top-menu">
            <div class="container">
                <div></div>
                @*<a class="navbar-brand" asp-area="" asp-page="/Index">SaludIntegral.App.Frontend</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="container-menu">
                        <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="profile-space">
                                <span>¡Bienvenido, <strong>doctor!</strong></span>
                                <img src="Images4Site/doctor-image-perfil.jpg" width="96px" height="48px" alt="Profile picture" title="Profile picture">
                            </div>
                        </li>
                        <li class="nav-item" id="logout-text">
                            <a class="nav-link text-dark logout" asp-area="" asp-page="/DoctorAccount">Logout</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header><!-- End header-->


    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header" id="sidebar-header">
                <img src="Images4Site/logotipo-salud-integral.png" width="92" alt="Logo_Salud_Integral" height="100"/>
            </div>

            <ul class="list-unstyled components" id="menu-sidebar">
                <li>
                    <div class="container-component-menu">
                        @*<img src="Images4Site/cita-icono.png" width="32px" height="32px" alt="Confirm appointment" title="Confirm appointment">*@
                        <a asp-page="/Index">Confirm appointment</a>
                    </div>
                </li>
                <li>
                    <a asp-page="/Index">Instructions</a>
                </li>
                <li>
                    <a asp-page="/Index">Logout</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>MENU</span>
                    </button>
                    <p><span>PRUEBA</span></p>
                    <p><img src="Images4Site/cita-icono.png" width="32px" height="32px" alt="Confirm appointment" title="Confirm appointment"></p>

                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SaludIntegral - Developer Jacks <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
