@page
@using SaludIntegral.App.Dominio
@model SaludIntegral.App.Frontend.Pages.IndexMModel
@{
}
<a class="btn btn-secondary" asp-page="/Medics/CreateDoctorAccount">Crear medico</a>
<a class="btn btn-secondary" asp-page="/Index">Volver</a>

