<<<<<<< HEAD
﻿@page
@model SaludIntegral.App.Frontend.Pages.IndexAModel
@{
}
<a class="btn btn-secondary" asp-page="/Administrator/showMedics">Mostrar Medicos</a>
<a class="btn btn-secondary" asp-page="/Administrator/showPatients">Mostrar Pacientes</a>
<a class="btn btn-secondary" asp-page="/Pages/Index">Volver</a>

=======
﻿@page
@model SaludIntegral.App.Frontend.Pages.IndexAModel
@{
}
<a class="btn btn-secondary" asp-page="/Administrator/showMedics">Mostrar medicos</a>
<a class="btn btn-secondary" asp-page="/Administrator/showPatients">Mostrar pacientes</a>
<a class="btn btn-secondary" asp-page="/Administrator/showLocation.">Mostrar locaciones</a>
<a class="btn btn-secondary" asp-page="/Administrator/createLocation">Crear locación</a>

<a class="btn btn-secondary" asp-page="/Pages/Index">Volver</a>

>>>>>>> 59b8786f6a3e0fd0c76ad1fb83f5d0a26c93351c
