@page
@model SaludIntegral.App.Frontend.Pages.IndexAModel
@{
}
<a class="btn btn-secondary" asp-page="/Administrator/showMedics">Mostrar medicos</a>
<a class="btn btn-secondary" asp-page="/Index">Volver</a>

