@page
@model SaludIntegral.App.Frontend.Pages.IndexAModel
@{
}
<a class="btn btn-secondary" asp-page="/Administrator/showMedics">Mostrar Medicos</a>
<a class="btn btn-secondary" asp-page="/Administrator/showPatients">Mostrar Pacientes</a>
<a class="btn btn-secondary" asp-page="/Pages/Index">Volver</a>

